
/* Color */

:root{
    --sidebar-color: #051E34;
}


/* General */

.title-big{
    font-size: 30px;
    font-weight: 600;
}

.title-card{
    font-size: 28px;
    font-weight: 600;
}

/* Vertical Macro Layout */

.vertical-macro-layout {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.vertical-macro-layout__top{
    background-color: aqua;
    height: 70px;
    flex-shrink: 0;
}

.vertical-macro-layout__bottom{
    flex-grow: 1;
    overflow: hidden;
}

/* Horizontal Macro Layout */

.horizontal-macro-layout{
    display: flex;
    width: 100%;
}

.sidebar{
    width: 68px;
    flex-shrink: 0;
    overflow: hidden;
    border: 1px solid black;
}

@media screen and (min-width:992px) {

    .sidebar {
        width: 150px;
    }

}

/* Header */

.main-header .navbar{
    padding: 15px 0;
}

.main-header .mobile-logo{
    width: 32px;
}

.main-header .desktop-logo{
    width: 133px;
}

.main-header .search-bar{
    background-color: #E5E5E5;
}

.main-header .search-bar::placeholder{
    color: #777777;
    padding-left: 20px;
}

/* Lente usando il Before */

/* .search-box::before{
    content: "\f002";
    display: block;
    font-weight: 900;
    font-family: "Font Awesome 5 Free";
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translate(-50%, -50%);
} */

.main-header .fa-bell{
    color: #FF8F00;
}

.main-header .nav-link > .fa-solid{
    font-size: 20px;
}

.main-header .dropdown-toggle::after{
    display: none;
}

.container-fluid .search-form{
    background-color: #E5E5E5;
    border-radius: 0.375rem;
}

.form-control.search-form{
    padding-left: 0;
}


/* Sidebar */

.sidebar{
    background-image: url(../img/sidebar-bg.png);
    background-color: var(--sidebar-color);
    color: white;
    padding: 34px 0 0 24px;
}

.sidebar .nav-sidebar{
    display: contents;
}

.sidebar .nav-link{
    color: white;
    font-weight: 600;
    padding: 0;
}

.sidebar .nav-link .fa-solid{
    font-size: 18px;
    margin-right: 16px;
}

.sidebar .nav-item {
    margin-bottom: 22px;
}

/* Content header */

.content-header{
    background-color: #1B72E8;
    padding: 2px 12px;
}

.content-header .tag-header{
    color: white;
    background-color: rgba(0, 0, 0, 0.3);
}

/* OFFCANVAS */

.content-header .canvas-icon.fa-solid{
    color: white;
    border: 1px solid white;
}

.offcanvas.offcanvas-end{
    width: 40%;
}

/* Dashboard content */

.dashboard-content{
    flex-grow: 1;
}

.dashboard-content th{
    font-size: 14px;
    font-weight: 400;
}

.avatar-table{
    width: 30px;
}

.dashboard-content .fa-solid{
    color: #6C757D;
    border: 1px solid #6C757D;
    padding: 8px;
    border-radius: 5px;
}

.dashboard-content th:first-child{
    width: 60%;
}

.card-img{
    width:490;
}
